body{
  background: linear-gradient(red,orange);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  background-color: white;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 6px black;
}
